.nav-bar {
	display: flex;
	height: 54px;

	align-items: center;
	background-color: #fff;
}

/* select descendants */
.nav-bar > * {
	margin-left: 22px;
}

.nav-bar__border-bottom {
	height: 2px;
	background: rgb(114, 114, 114);
	background: linear-gradient(
		90deg,
		rgb(180, 180, 180) 0%,
		rgb(71, 71, 71) 32%,
		rgb(196, 196, 196) 100%
	);
}

.seekap-button {
	font-size: 24px;
	font-weight: 600;
	margin-right: 26px;
}

.dark-mode-toggle {
	height: 21px;
	width: 21px;

	margin-left: auto;
	margin-right: 20px;
}

[data-theme="dark"] .nav-bar {
	background-color: #242527;
}

[data-theme="dark"] .nav-bar a {
	background-color: #242527;
}

[data-theme="dark"] .nav-bar__border-bottom {
	height: 1px;
	background: #747474;
}

[data-theme="dark"] .dark-mode-toggle {
	height: 25px;
	width: 25px;
}
